<div mdbModal #errorModal="mdbModal" class="modal fade bottom" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true" [config]='{backdrop: false, ignoreBackdropClick: !modalType, focus: true, keyboard: true}'>
  <div class="modal-dialog modal-notify modal-side modal-bottom-right" role="document" [ngClass]="modalType ? 'modal-success' : 'modal-danger'">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeErrorModal();">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
        <div *ngIf="modalType" class="modal-title w-100 font-weight-bold text-white" id="successModal">Succes!</div>
        <div *ngIf="!modalType" class="modal-title w-100 font-weight-bold text-white" id="errorModal">Eroare!</div>
      </div>
      <div class="modal-body">
        <div *ngIf="modalType"><strong style="color: #000000;">{{success}}</strong></div>
        <div *ngIf="!modalType"><strong class="text-danger">{{error}}</strong></div>
      </div>
    </div>
  </div>
</div>
